BME280_MHZ19_Sensor_MQTT_Export.json
[{"id":"40dd8f41.e80098","type":"debug","z":"baefd67c.1dfdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1139.7499618530273,"y":81.25000095367432,"wires":[]},{"id":"74162d26.9918e4","type":"debug","z":"baefd67c.1dfdf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":477.25,"y":265.25,"wires":[]},{"id":"323790a0.58d668","type":"serial in","z":"baefd67c.1dfdf","name":"UART","serial":"f18eefbb.a867f","x":118,"y":81,"wires":[["5cacf30b.4f235c"]]},{"id":"3566e804.69cb68","type":"serial out","z":"baefd67c.1dfdf","name":"UART","serial":"f18eefbb.a867f","x":404,"y":135,"wires":[]},{"id":"c7e94787.5628c8","type":"function","z":"baefd67c.1dfdf","name":"Request CO2 concentration","func":"msg.payload = Buffer.from([0xFF,0x01,0x86,0x00,0x00,0x00,0x00,0x00,0x79]);\nreturn msg;","outputs":1,"noerr":0,"x":291,"y":216,"wires":[["3566e804.69cb68","74162d26.9918e4"]]},{"id":"5cacf30b.4f235c","type":"function","z":"baefd67c.1dfdf","name":"Extracr CO2","func":"msg.str = msg.payload.toString('hex');\nvar start = msg.str.substring(0, 4);\nvar High = msg.str.substring(4, 6);\nvar Low = msg.str.substring(6, 8);\nvar strlen = msg.str.length;\nvar HighDec = parseInt(High, 16);\nvar LowDec = parseInt(Low, 16);\n\nmsg.co2 = HighDec * 256 + LowDec;\nif ((start == \"ff86\") && (strlen >= 7) ) {\n   msg.topic = \"CO2\";\n   msg.payload = msg.co2;\n   return msg;\n}\n\n\n","outputs":1,"noerr":0,"x":509,"y":65,"wires":[["34ef822b.95c156"]]},{"id":"fb83bd4d.c181","type":"inject","z":"baefd67c.1dfdf","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":0.1,"x":332,"y":344,"wires":[["cd3b6bcd.564018","c7e94787.5628c8"]]},{"id":"cd3b6bcd.564018","type":"Bme280","z":"baefd67c.1dfdf","name":"","bus":"1","address":"0x76","topic":"bme280","extra":false,"x":529.0000038146973,"y":345.00000190734863,"wires":[["34ef822b.95c156"]]},{"id":"28e8e0cd.da28c8","type":"function","z":"baefd67c.1dfdf","name":"Save to DB","func":"var sql = \"\";\nvar d = new Date();\nvar epoch = d.getTime();\nvar outputs = [];\n\n\nsql = \"INSERT INTO dht_table (device,sensor,value,epoch) \" +\n        \"VALUES ('MHZ19','co2',\"+msg.payload[1].co2+\",\"+epoch+\")\";\noutputs.push({topic:sql});\nsql = \"INSERT INTO dht_table (device,sensor,value,epoch) \" +\n        \"VALUES ('BME280','temp',\"+msg.payload[0].payload.temperature_C+\",\"+epoch+\")\";\noutputs.push({topic:sql});        \nsql = \"INSERT INTO dht_table (device,sensor,value,epoch) \" +\n        \"VALUES ('BME280','humidity',\"+msg.payload[0].payload.humidity+\",\"+epoch+\")\";\noutputs.push({topic:sql});        \nsql = \"INSERT INTO dht_table (device,sensor,value,epoch) \" +\n        \"VALUES ('BME280','pressure',\"+msg.payload[0].payload.pressure_hPa+\",\"+epoch+\")\";\noutputs.push({topic:sql});        \nsql = \"INSERT INTO dht_table (device,sensor,value,epoch) \" +\noutputs.push({topic:sql});        \n    \n// Update the status with current timestamp\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss});    \n      \nreturn [ outputs ];","outputs":1,"noerr":0,"x":865.5,"y":317,"wires":[["31dd104e.c7a638"]]},{"id":"31dd104e.c7a638","type":"sqlite","z":"baefd67c.1dfdf","mydb":"f4ac7a0.8465688","sqlquery":"batch","sql":"","name":"Node Red DB","x":1155.5,"y":307,"wires":[[]]},{"id":"34ef822b.95c156","type":"join","z":"baefd67c.1dfdf","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":699,"y":220,"wires":[["40dd8f41.e80098","28e8e0cd.da28c8","af9f09ad.823938"]]},{"id":"af9f09ad.823938","type":"mqtt out","z":"baefd67c.1dfdf","name":"MQTT to AWS","topic":"sensor","qos":"","retain":"","broker":"3709f85a.0ec308","x":1116,"y":429,"wires":[]},{"id":"6f3b2815.ed5bd8","type":"function","z":"baefd67c.1dfdf","name":"Dump DB","func":"var output = [];\noutput.push({ topic:\"SELECT * FROM dht_table WHERE id = 112032\"});\nreturn [output];\n","outputs":1,"noerr":0,"x":871.75,"y":435.5,"wires":[["9941d842.f7c4c8"]]},{"id":"e6ae56d4.794b08","type":"inject","z":"baefd67c.1dfdf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"20","x":648.75,"y":456,"wires":[["6f3b2815.ed5bd8"]]},{"id":"dd409847.333b18","type":"debug","z":"baefd67c.1dfdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1184.75,"y":581.5,"wires":[]},{"id":"9941d842.f7c4c8","type":"sqlite","z":"baefd67c.1dfdf","mydb":"38835dc2.77ac02","sqlquery":"msg.topic","sql":"","name":"Read DB","x":1009,"y":520,"wires":[["dd409847.333b18"]]},{"id":"f18eefbb.a867f","type":"serial-port","z":"","serialport":"/dev/serial0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"3","bin":"bin","out":"time","addchar":"false","responsetimeout":""},{"id":"f4ac7a0.8465688","type":"sqlitedb","z":"","db":"/var/www/html/database/sensor_data","mode":"RWC"},{"id":"3709f85a.0ec308","type":"mqtt-broker","z":"","name":"Sensor","broker":"ec2-35-177-48-25.eu-west-2.compute.amazonaws.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"38835dc2.77ac02","type":"sqlitedb","z":"","db":"/var/www/html/database/sensor_data","mode":"RWC"}]